.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: black;
    border: 2px solid black;
}
.chat-container {
	max-width: 1800px;
	background: rgb(69, 64, 64);
	margin: 30px auto;
	overflow: hidden;
}